
html.chess { 
  background: none;
  background-image: url(../imgs/a.png), url(../imgs/b.png), url(../imgs/c.png) !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

#chessBoard {
  background: white;
  border-radius: 10px;
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 480px;
}

#chessBoard h2 {
  margin-top: 0;
}

.chess-container {
  display: inline-block;
  text-align: center;
}

.chess-container .credit {
  margin-top: 10px;
  font-size: 10px;
}

.chess-container .credit a:active,
.chess-container .credit a:link,
.chess-container .credit a:visited {
  color: black;
  text-decoration: underline;
}

.chess-container .credit a:hover {
  color: blue;
  text-decoration: underline;
}

.chessboard {
  display: inline-block;
  margin-left: 20px;
  width: 400px;
}
