*{
  box-sizing:border-box;
}
html { 
  background: url(../imgs/CherryTreeBK.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.menu > div {
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  font-family: verdana;
  height: 100px; 
  line-height: 100px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}
.home {
  background-color: #5DA322;
  left: 10%;
  position:absolute;
  top: 65%;
}
.resume {
  background-color: #6DC5DD;
  left: 35%;
  position: absolute;
  top: 40%;
}

.projects {
  background-color: #F77462;
  left: 60%;
  position: absolute;
  top: 50%;
}

#projectsPage h1 {
  color: #F77462;
}
#projectsPage a:active,
#projectsPage a:link,
#projectsPage a:visited {
  color: #F77462;
}

#projectsPage a:hover {
  color: black;
}

.contactMe {
  background-color: #ea4c89;
  left: 80%;
  position: absolute;
  top: 70%;
}
#contactPage {
  border-color: #ea4c89;
  color: #ea4c89;
}

/*content wrapper*/
.content {
  min-height: 100%;
  background: rgba(255, 236, 236, 0.86);
  position: absolute;
  text-align: center;
  top: 70px;
  width: 80%;
  margin: 10%;
}
#homePage {
  margin-top: -150px;
}
.content .resumeContent{
  border-color: #F77462;
  color: #F77462;
}
.content .projectsContent {
  border-color: #5DA322;
  color: #5DA322;
}

/** Styles for the projects page.  */
.project {
  background: rgb(231, 201, 151);
  border: 1px solid #753;
  border-radius: 5px;
  display: table;
  padding: 10px !important;
  width: 400px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.project .row {
  display: table-row;
}
.project .row > div {
  display: table-cell;
  vertical-align: middle;
}
.project .row .title {
  font-size: 1.2em;
  text-align: left;
}
.project .thumb-header {
  width: 70px;
}
.project img.thumb {
  height: 60px;
  width: 60px;
}
.project .title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.project .status {
  font-size: 20px;
  margin-top: 12px;
}
.project > div,
.project table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
