
.sliding-puzzle.game {
  height: 550px;
  margin: 0 20px;
  width: 600px;
}

.puzzle-piece {
  background-image: url("../imgs/banana_mochi.jpg");
  background-repeat: repeat;
  border: 1px solid rgba(80, 80, 80, 0.3);
  position: absolute;
  z-index: 1;
}

.puzzle-blankPiece {
  background-image: none;
  background-color: white;
  position: absolute;
  z-index: 0;
}

#two {
  background-position: right top;
  left: 250px;
  position: absolute;
  top: 0px;
}

#three {
  background-position: left bottom;
  left: 0px;
  position: absolute;
  top:250px;
}

#four {
  background-position: right bottom;
  left:250px;
  position: absolute;
  top:250px;
}

.thumbnail {
  height: 120px;
  left: 226px;
  position: relative;
  top: 307px;
  width: 120px;
}
