
html.tic-tac-toe { 
  background: none;
  background-image: url(../imgs/a.png), url(../imgs/b.png), url(../imgs/c.png) !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tic-tac-toe.game {
  background: rgb(231, 201, 151);
  border: 1px solid #753;
  border-radius: 5px;
  display: block;
  float: none !important;
  padding: 20px;
  /*width: 350px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.tic-tac-toe.game > div,
.tic-tac-toe.game table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cell {
  /*display: block;*/
  position:absolute;
  left:10px;
  top:10px;
  /*width:50px;*/
  /*height:50px;*/
  background: lightblue;
  border-color:black;
  border:2px;
}
table{
  border-collapse: collapse;
  /*border:1px solid lightblue;*/
  height:300px;
  width:300px;
}
td{
  /*border:1px solid lightblue;*/
  height:50px;
  text-align:center;
  width: 50px;
  font-size: 50px;
  font-weight: bold;
  font-family: Verdana;
  line-height: 50px;
}

td.center {
  border-left: 4px solid black;
  border-right: 4px solid black;
}

td.middle {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
