<!doctype html>
<html>
  <head>
    {% include 'resources.html' %}

    <!-- Entry point -->
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="mainContent" class="content">
      <div id="homePage">
        <!-- {% include 'home.html' %} -->
      </div>
      <div id="resumePage">
        {% include 'resume.html' %}
      </div>
      <div id="projectsPage">
        {% include 'projects.html' %}
      </div>
      <div id="contactPage">
        {% include 'contactMe.html' %}
      </div>
    </div>
    <div id="sandbox">
      <div class="menu">
        <div class="home" data-target="homePage">Home</div>
        <div class="projects" data-target="projectsPage">Projects</div>
        <div class="resume" data-target="resumePage">Resume</div>
        <div class="contactMe" data-target="contactPage">Contact</div>
      </div>
    </div>  
  </body>
</html>