{% extends "base.jinja" %}
{% block content %}
  <form id="userCommentForm"class="contact">
    <h2>Contact Me</h2>
    <div class="content">
      Name<br><input type="text" name="name"><br>
      Email<br><input type="text" name="name"><br>
      Message<br><input type="textarea" name="message" class="message"><br>
      <button type="submit">submit</button>
    </div>
  </form>
{% endblock %}
