{% extends "base.jinja" %}
{% block content %}
  <div class="home">
    <div class="leftWrapper"> 
      <div class="personalImg"></div>
    </div>
    <div class="rightWrapper">
      <p class="infor">
      Hello! My name is Emma. I am a front end develper. I love web developement and design. I love html5, css3, javascript and I love to make things prettier.
      This is the my personal website for hosting my applications.Please feel free to contact me.
      </p>
      <div class="socialLogo">
        <ul>
          <li>twitter</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
