{% extends "base.jinja" %}
{% block content %}
  <div id="container">
    <div id="left-menu">
      <h3>Tic Tac Toe</h3>
      <div>
        <div class="thumb-header">
          <img class="thumb" src="imgs/tictactoe_thumb.png"></img>
          <a class="play" data-game="Tic Tac Toe">Play!</a>
        </div>
        <div class="clearfix"></div>
        <p>The classic game that no one over the age of six should ever lose at.</p>
      </div>

      <h3>Sliding Puzzle</h3>
      <div>
        <div class="thumb-header">
          <img class="thumb" src="imgs/slidingpuzzle_thumb.png"></img>
          <a class="play" data-game="Sliding Puzzle">Play!</a>
        </div>
        <div class="clearfix"></div>
        <p>A classic sliding puzzle game over a dessert of bananas and mochi.</p>
      </div>

      <h3>Chinese&ndash;English Flash Cards</h3>
      <div>
        <div class="thumb-header">
          <img class="thumb" src="imgs/flashcards_thumb.png"></img>
          <a class="play" data-game="Chinese-English Flash Cards">Play!</a>
        </div>
        <div class="clearfix"></div>
        <p>Test your knowledge of basic Chinese.</p>
      </div>

      <h3>Chess</h3>
      <div>
        <div class="thumb-header">
          <img class="thumb" src="imgs/chess_thumb.png"></img>
          <a class="play" data-game="Chess">Play!</a>
        </div>
        <div class="clearfix"></div>
        <p>How about a nice game of chess?</p>
      </div>
    </div>
    <div id="body"></div>
  </div>
{% endblock %}
