{% extends "base.jinja" %}
{% block content %} 
  <div class="resume">
    <ul id="objective">
      <h3>Objective</h3>
      <li>Software Engineer</li>
    </ul>
    <ul id="skill">
      <h3>Skill</h3>
      <li>html5, css3, javascript, python</li>
    </ul>
    <ul id="experience"> 
      <h3>Experience</h3>
      <li>Cloud Web Developer and Designer</li>
        <ul>
          <li>Developed web application where users can play games and study.</li>
          <li>Developed games in JavaScript, HTML, and CSS using JavaScript libraries (Underscore.js, JQuery UI).</li>
          <li>Developed English–Chinese flash card application using a Python backend on Google AppEngine.</li>
        </ul>
      </li>
      <li>Global Computer Enterprises Front End Developer </li>
      <ul>
        <li>Developed features for an analytical web tool for big data visualization, including user comments, user ratings, and integration with the Yelp and Google Maps APIs.</li>
        <li>Experimented with and evaluated new cloud technologies.</li>
        <li>Interviewed prospective candidates and developed uniform testing regimen for other interviews.</li>
      </ul>
      <li>Jefferies&Company Software Engineer Intern</li>
      <ul>
        <li>Designed and Implemented real-time, multi-threaded securities analysis tools.</li>
        <li>Published on IRON trading system and generated real-time charts for securities prediction.</li>
        <li>Improved code efficiency and reduced memory consumption.</li>
      </ul>
    </ul>
    <ul id="education">
      <h3>Education</h3>
      <li> Columbia Unviersity M.S. in Computer Science</li>
      <li> Northeastern Unviersity of China B.E. in Computer Science</li> 
    </ul>
  </div>
{% endblock %}
